<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">-->
<!--<head>-->
<!--<title>Article - Article | Cinema - Free Website Template from Templates.com</title>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<meta name="description" content="Place your description here" />-->
<!--<meta name="keywords" content="put, your, keyword, here" />-->
<!--<meta name="author" content="Templates.com - website templates provider" />-->
<!--<link href="/static/css/style.css" rel="stylesheet" type="text/css" />-->
<!--<link rel="stylesheet" href="/static/css/movies.css">-->
<!--<script src="/static/js/jquery-1.4.2.min.js" type="text/javascript"></script>-->
<!--<script src="/static/js/cufon-yui.js" type="text/javascript"></script>-->
<!--<script src="/static/js/cufon-replace.js" type="text/javascript"></script>-->
<!--<script src="/static/js/Gill_Sans_400.font.js" type="text/javascript"></script>-->
<!--<script src="/static/js/script.js" type="text/javascript"></script>-->
<!--&lt;!&ndash;[if lt IE 7]>-->
<!--	<script type="text/javascript" src="/static/js/ie_png.js"></script>-->
<!--	<script type="text/javascript">-->
<!--		 ie_png.fix('.png, .link1 span, .link1');-->
<!--	</script>-->
<!--	<link href="/static/css/ie6.css" rel="stylesheet" type="text/css" />-->
<!--<![endif]&ndash;&gt;-->
<!--</head>-->
<!--<body id="page4">-->
<!--<div class="tail-top">-->
<!--	<div class="tail-bottom">-->
<!--		<div id="main">-->
<!--&lt;!&ndash; HEADER &ndash;&gt;-->
<!--			<div id="header">-->
<!--				<div class="row-1">-->
<!--					<div class="fleft"><a href="index.html">Cinema <span>World</span></a></div>-->
<!--					<ul>-->
<!--						<li><a href="index.html"><img src="images/icon1.gif" alt="" /></a></li>-->
<!--						<li><a href="contact-us.html"><img src="images/icon2.gif" alt="" /></a></li>-->
<!--						<li><a href="sitemap.html"><img src="images/icon3.gif" alt="" /></a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="row-2">-->
<!--					<ul>-->
<!--						<li><a href="index.html">Home</a></li>-->
<!--						<li><a href="about-us.html">About</a></li>-->
<!--						<li><a href="articles.html" class="active">Cinemas</a></li>-->
<!--						<li><a href="contact-us.html">Contacts</a></li>-->
<!--						<li class="last"><a href="sitemap.html">Sitemap</a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->
<!--&lt;!&ndash; CONTENT &ndash;&gt;-->
<!--			<div id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>-->
<!--				<div class="line-hor"></div>-->
<!--				<div class="box">-->
<!--					<div class="border-right">-->
<!--						<div class="border-left">-->
<!--							<div class="inner">-->
<!--								<h3>Cinema <span>Name</span></h3>-->
<!--								<div class="movie-dates">-->
<!--									<button class ="dates" >Today</button>-->
<!--									<button class ="dates">Tomorrow</button>-->
<!--								</div>-->
<!--								<div class="movies">-->
<!--									<div>15:40</div>-->
<!--									<a class="name" href="">Каскадёры</a>-->
<!--									<div class="room">IMAX</div>-->
<!--									<div class="price">430 <span class="price-som">s</span> </div>-->
<!--									<img class="details" src="images/details.png" alt="">-->
<!--									<a href="">Buy</a>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="movie-info">-->
<!--								<img src="https://kinogo.bot/uploads/posts/2024-05/w1500_52291274.jpg"  alt="интернет купи">-->
<!--								<div class="desc-info">Каскадёры</div>-->
<!--									<div><strong>Year: </strong> 2024 </div>-->
<!--									<div><strong>Genre: </strong> Comedy</div>-->
<!--									<div><strong>Duration: </strong> 126 min</div>-->
<!--									<div><strong>Actors: </strong> Райан Гослинг, Эмили Блант</div>-->
<!--									<div><strong>Country: </strong> USA </div>-->
<!--									<div><strong>Age: </strong> 18+ </div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--&lt;!&ndash; FOOTER &ndash;&gt;-->
<!--			<div id="footer">-->
<!--				<div class="left">-->
<!--					<div class="right">-->
<!--						<div class="inside">Copyright - Type in your name here<br />-->
<!--							<a rel="nofollow" href="http://www.templatemonster.com/" class="new_window">Website template</a> designed by TemplateMonster.com<br />-->
<!--							<a href="http://www.templates.com/product/3d-models/" class="new_window">3D Models</a> provided by Templates.com -->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--<script type="text/javascript"> Cufon.now(); </script>-->
<!--</body>-->
<!--</html>-->
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">-->
<!--<head>-->
<!--	<title>Article - Article | Cinema - Free Website Template from Templates.com</title>-->
<!--	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--	<meta name="description" content="Place your description here" />-->
<!--	<meta name="keywords" content="put, your, keyword, here" />-->
<!--	<meta name="author" content="Templates.com - website templates provider" />-->
<!--	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />-->
<!--	<link rel="stylesheet" href="/static/css/movies.css">-->
<!--	<script src="/static/js/jquery-1.4.2.min.js" type="text/javascript"></script>-->
<!--	<script src="/static/js/cufon-yui.js" type="text/javascript"></script>-->
<!--	<script src="/static/js/cufon-replace.js" type="text/javascript"></script>-->
<!--	<script src="/static/js/Gill_Sans_400.font.js" type="text/javascript"></script>-->
<!--	<script src="/static/js/script.js" type="text/javascript"></script>-->
<!--	<script>-->
<!--        function getCinemaData(cinemaId) {-->
<!--          fetch('http://localhost:8050/api/cinema/get/session/by/cinema/1?date=12-06-2024&amp;language=EN' + cinemaId)-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--              document.getElementById('cinema-name').textContent = data.name;-->
<!--              // Call another function to display sessions based on cinema data-->
<!--              displaySessions(data.sessions);-->
<!--            })-->
<!--            .catch(error => console.error(error));-->
<!--        }-->

<!--        function displaySessions(sessions) {-->
<!--  const moviesContainer = document.querySelector('.movies');-->
<!--  moviesContainer.innerHTML = ''; // Clear existing content-->

<!--  sessions.forEach(session => {-->
<!--    const movieElement = document.createElement('div');-->
<!--    movieElement.classList.add('movies');-->

<!--    // Extract movie title and session time from the session object-->
<!--    const movieTitle = session.filmName;-->
<!--    const sessionTime = new Date(session.localDate + " " + session.localTime).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});-->

<!--    movieElement.innerHTML = `-->
<!--      &lt;div>${sessionTime}&lt;/div>-->
<!--      &lt;a class="name" href="#">${movieTitle}&lt;/a>  &lt;div class="room">&lt;/div>-->
<!--      &lt;div class="price">${session.price} &lt;span class="price-som">s&lt;/span> &lt;/div>-->
<!--      &lt;img class="details" src="images/details.png" alt="">-->
<!--      &lt;a href="#">Buy&lt;/a>-->
<!--    `;-->

<!--    moviesContainer.appendChild(movieElement);-->
<!--  });-->
<!--}-->
<!--	</script>-->
<!--</head>-->
<!--<body id="page4">-->
<!--<div class="tail-top">-->
<!--	<div class="tail-bottom">-->
<!--		<div id="main">-->
<!--			<div id="header">-->
<!--				<div class="row-1">-->
<!--					<div class="fleft"><a href="index.html">Cinema <span>World</span></a></div>-->
<!--					<ul>-->
<!--						<li><a href="index.html"><img src="images/icon1.gif" alt="" /></a></li>-->
<!--						<li><a href="contact-us.html"><img src="images/icon2.gif" alt="" /></a></li>-->
<!--						<li><a href="sitemap.html"><img src="images/icon3.gif" alt="" /></a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="row-2">-->
<!--					<div id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>-->
<!--						<div class="line-hor"></div>-->
<!--						<div class="box">-->
<!--							<div class="border-right">-->
<!--								<div class="border-left">-->
<!--									<div class="inner">-->
<!--										<h3 id="cinema-name">Cinema Name</h3> <div class="movie-dates">-->
<!--										<button class ="dates" >Today</button>-->
<!--										<button class ="dates">Tomorrow</button>-->
<!--									</div>-->
<!--										<div class="movies">-->
<!--										</div>-->
<!--									</div>-->
<!--									<div class="movie-info">-->
<!--										<img src="https://kinogo.bot/uploads/posts/2024-05/w1500_52291274.jpg"  alt="интернет купи">-->
<!--										<div class="desc-info">Каскадёры</div>-->
<!--										<div><strong>Year: </strong> 2024 </div>-->
<!--										<div><strong>Genre: </strong> Comedy</div>-->
<!--										<div><strong>Duration: </strong> 126 min</div>-->
<!--										<div><strong>Actors: </strong> Райан Гослинг, Эмили Блант</div>-->
<!--										<div><strong>Country: </strong> USA </div>-->
<!--										<div><strong>Age: </strong> 18+ </div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div id="footer">-->
<!--						<div class="left">-->
<!--							<div class="right">-->
<!--								<div class="inside">Copyright - Type in your name here<br />-->
<!--									<a rel="nofollow" href="http://www.templatemonster.com/" class="new_window">Website template</a> designed by TemplateMonster.com<br />-->
<!--									<a href="http://www.templates.com/product/3d-models/" class="new_window">3D Models</a> provided by Templates.com-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<script type="text/javascript"> Cufon.now(); </script>-->
<!--	</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--	<meta charset="UTF-8">-->
<!--	<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--	<title>Cinema Sessions</title>-->
<!--	<link rel="stylesheet" href="/static/css/style.css">-->

<!--	<script src="/static/js/jquery-1.4.2.min.js" type="text/javascript"></script>-->
<!--	<script src="/static/js/cufon-yui.js" type="text/javascript"></script>-->
<!--	<script src="/static/js/cufon-replace.js" type="text/javascript"></script>-->
<!--	<script src="/static/js/Gill_Sans_400.font.js" type="text/javascript"></script>-->
<!--	<script src="/static/js/script.js" type="text/javascript"></script>-->
<!--</head>-->
<!--<body id="page3">-->
<!--<div id="content">-->
<!--	<div class="line-hor"></div>-->
<!--	<div class="box">-->
<!--		<div class="border-right">-->
<!--			<div class="border-left">-->

<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="content">-->
<!--		<h3><span>Sessions</span></h3>-->
<!--		<ul class="list" id="sessions-list">-->
<!--			&lt;!&ndash; Сюда будут добавляться сеансы &ndash;&gt;-->
<!--		</ul>-->
<!--	</div>-->
<!--</div>-->

<!--<script>-->
<!--	// Function to display sessions-->
<!--    function displaySessions() {-->
<!--        const sessionsData = JSON.parse(localStorage.getItem('sessionsData'));-->
<!--        if (sessionsData) {-->
<!--            const sessionsList = document.getElementById('sessions-list');-->
<!--            sessionsList.innerHTML = ''; // Clear existing sessions list-->

<!--            sessionsData.forEach(session => {-->
<!--                const li = document.createElement('li');-->
<!--                const filmName = document.createElement('h4');-->
<!--                filmName.textContent = session.filmName;-->
<!--                const time = document.createElement('p');-->
<!--                time.textContent = 'Time: ' + session.time;-->
<!--                const price = document.createElement('p');-->
<!--                price.textContent = 'Price: ' + session.price;-->
<!--                const hall = document.createElement('p');-->
<!--                hall.textContent = 'Hall: ' + session.hallName;-->

<!--                li.appendChild(filmName);-->
<!--                li.appendChild(time);-->
<!--                li.appendChild(price);-->
<!--                li.appendChild(hall);-->

<!--                sessionsList.appendChild(li);-->
<!--            });-->
<!--        } else {-->
<!--            console.error('No session data found');-->
<!--        }-->
<!--    }-->

<!--    // Call displaySessions on page load-->
<!--    window.onload = displaySessions;-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Article - Article | Cinema - Free Website Template from Templates.com</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Place your description here" />
	<meta name="keywords" content="put, your, keyword, here" />
	<meta name="author" content="Templates.com - website templates provider" />
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/static/css/movies.css">
	<script src="/static/js/jquery-1.4.2.min.js" type="text/javascript"></script>
	<script src="/static/js/cufon-yui.js" type="text/javascript"></script>
	<script src="/static/js/cufon-replace.js" type="text/javascript"></script>
	<script src="/static/js/Gill_Sans_400.font.js" type="text/javascript"></script>
	<script src="/static/js/script.js" type="text/javascript"></script>
	<!--[if lt IE 7]>
	<script type="text/javascript" src="/static/js/ie_png.js"></script>
	<script type="text/javascript">
		ie_png.fix('.png, .link1 span, .link1');
	</script>
	<link href="/static/css/ie6.css" rel="stylesheet" type="text/css" />
	<![endif]-->
</head>
<body id="page4">
<div class="tail-top">
	<div class="tail-bottom">
		<div id="main">
			<!-- HEADER -->
			<div id="header">
				<div class="row-1">
					<div class="fleft"><a href="index.html">Cinema <span>World</span></a></div>
					<ul>
						<li><a href="index.html"><img src="images/icon1.gif" alt="" /></a></li>
						<li><a href="contact-us.html"><img src="images/icon2.gif" alt="" /></a></li>
						<li><a href="sitemap.html"><img src="images/icon3.gif" alt="" /></a></li>
					</ul>
				</div>
				<div class="row-2">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about-us.html">About</a></li>
						<li><a href="articles.html" class="active">Cinemas</a></li>
						<li><a href="contact-us.html">Contacts</a></li>
						<li class="last"><a href="sitemap.html">Sitemap</a></li>
					</ul>
				</div>
			</div>
			<!-- CONTENT -->
			<div id="content">
				<div class="ic">More Website Templates at TemplateMonster.com!</div>
				<div class="line-hor"></div>
				<div class="box">
					<div class="border-right">
						<div class="border-left">
							<div class="inner">
								<h3 id="cinema-name">Cinema Name</h3>
								<div class="movie-dates">
									<button class="dates" onclick="loadSessions('today')">Today</button>
									<button class="dates" onclick="loadSessions(formattedDatetmr,cinemaId)">Tomorrow</button>
								</div>
								<div class="movies" id="movies">
									<!-- Sessions will be loaded here -->
								</div>
							</div>
							<div class="movie-info" id="movie-info">
								<!-- Add additional movie details here if needed -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- FOOTER -->
			<div id="footer">
				<div class="left">
					<div class="right">
						<div class="inside">Copyright - Type in your name here<br />
							<a rel="nofollow" href="http://www.templatemonster.com/" class="new_window">Website template</a> designed by TemplateMonster.com<br />
							<a href="http://www.templates.com/product/3d-models/" class="new_window">3D Models</a> provided by Templates.com
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const cinemaId = urlParams.get('cinemaId');
        const today = new Date();
        const formattedDate = [
            today.getDate().toString().padStart(2, '0'),    // День
            (today.getMonth() + 1).toString().padStart(2, '0'), // Месяц (январь = 0)
            today.getFullYear()  // Год
        ].join('-');
        const tomorrow = new Date(today);
		tomorrow.setDate(today.getDate() + 1);

		const formattedDatetmr = [
			tomorrow.getDate().toString().padStart(2, '0'),    // День
			(tomorrow.getMonth() + 1).toString().padStart(2, '0'), // Месяц (январь = 0)
			tomorrow.getFullYear()  // Год
		].join('-');
        loadSessions(formattedDate, cinemaId);
    });

    function loadSessions(date, cinemaId) {
        fetch(`http://localhost:8050/api/cinema/get/session/by/cinema/${cinemaId}?date=${date}&language=EN`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('cinema-name').textContent = data.name;
                const moviesContainer = document.getElementById('movies');
                moviesContainer.innerHTML = ''; // Clear existing sessions

                data.hallResponse.forEach(hall => {
                    const hallDiv = document.createElement('div');
                    hallDiv.innerHTML = `<h4>${hall.name}</h4>`;
                    hall.sessionResponse.forEach(session => {
                        const sessionDiv = document.createElement('div');
                        sessionDiv.classList.add('movie');
                        sessionDiv.innerHTML = `
                            <div>${session.localTime}</div>
                            <a class="name" href="#">${session.filmName}</a>
                            <div class="price">${session.price} s</div>
                            <img class="details" src=${session.price} alt="Details">
                            <a href="seatsbooking?sessionId=${session.id}&hallId=${hall.id}&cinemaId=${cinemaId}">Buy</a>
                        `;
                        hallDiv.appendChild(sessionDiv);
                    });

                    moviesContainer.appendChild(hallDiv);
                });
            })
            .catch(error => {
                console.error('Error fetching sessions:', error);
            });
    }
</script>
</body>
</html>
