<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--    <title>Cinema Seat Reservation</title>-->
    <style>
        .seat {
            width: 50px;
            height: 50px;
            margin: 5px;
            display: inline-block;
            border: 1px solid #ccc;
        }
        .booked {
            background-color: red;
        }
        .available {
            background-color: green;
        }
    </style>
</head>
<body>
<h2>Cinema Seat Reservation</h2>
<h1>Seats Booking</h1>
<div id="seats">
    <!-- Здесь будут отображаться места -->
</div>

<p>Selected Seats: <span id="selected-seats">0</span></p>
<p>
    Email: <input type="email" id="client-email" required>
</p>
<button id="book-button">Book Selected Seats</button>
<script>
    const seatsContainer = document.getElementById('seats');
    const selectedSeatsContainer = document.getElementById('selected-seats');
    let selectedSeats = 0;
    const urlParams = new URLSearchParams(window.location.search);
    const hallId = urlParams.get('hallId');
    const sessionId = urlParams.get('sessionId');
    const cinemaId = urlParams.get('cinemaId');
    const today = new Date();
    const formattedDate = [
        today.getDate().toString().padStart(2, '0'),    // День
        (today.getMonth() + 1).toString().padStart(2, '0'), // Месяц (январь = 0)
        today.getFullYear()  // Год
    ].join('-');
    const seatsUrl = `http://localhost:8050/api/cinema/get/session/by/cinema/${cinemaId}?date=${formattedDate}&language=EN`;

    // Функция для обновления счетчика выбранных мест
    function updateSelectedSeatsCount() {
        const selectedSeatsList = document.querySelectorAll('.seat.selected');
        selectedSeats = selectedSeatsList.length;
        selectedSeatsContainer.textContent = selectedSeats;
    }
    // Используем другой URL для получения данных о состоянии мест


    // Получаем информацию о состоянии мест с сервера
fetch(seatsUrl)
    .then(response => response.json())
    .then(data => {
        const seats = data.hallResponse[0].sessionResponse[0].seatsResponse; // Получаем данные о местах

        // Отображение мест
        seats.forEach(place => {
            const seatElement = document.createElement('div');
            seatElement.classList.add('seat');
            seatElement.textContent = `${place.row}-${place.place}`; // Получаем номер строки и места
            if (place.booked) { // Проверяем, забронировано ли место
                seatElement.classList.add('booked');
                seatElement.classList.remove('available');
            } else {
                seatElement.classList.add('available');
                seatElement.addEventListener('click', () => {
                    // При клике на место, добавляем или удаляем класс 'selected'
                    seatElement.classList.toggle('selected');
                    updateSelectedSeatsCount(); // Вызываем функцию для обновления счетчика выбранных мест
                });
            }
            seatsContainer.appendChild(seatElement);
        });
    })
    .catch(error => console.error('Error fetching seats:', error));

    // Получаем ссылку на кнопку
    const bookButton = document.getElementById('book-button');

    // Добавляем обработчик события на клик по кнопке
    bookButton.addEventListener('click', bookSeats);

    function bookSeats() {
        const emailInput = document.getElementById('client-email');
        const clientEmail = emailInput.value;

        if (!clientEmail) {
            alert('Please enter your email.');
            return;
        }
        const selectedSeatsList = document.querySelectorAll('.seat.selected');
        const seatsArray = Array.from(selectedSeatsList).map(seat => {
            const seatNumber = seat.textContent.split('-');
            const row = parseInt(seatNumber[0]); // Номер ряда
            const place = parseInt(seatNumber[1]); // Номер места
            return { row: row, place: place,type: "ADULTS"  };
        });

        const requestData = {
            clientEmail: clientEmail,
            idSession: sessionId,
            seats: seatsArray
        };

        const url = 'http://localhost:8050/api/orderSession/create?language=EN';
        fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
            .then(response => {
                if (response.ok) {
                    // Успешное бронирование мест
                    selectedSeatsList.forEach(seat => {
                        seat.classList.remove('available');
                        seat.classList.add('booked');
                        seat.classList.remove('selected');
                    });
                    updateSelectedSeatsCount(); // Обновляем счетчик выбранных мест
                    alert('Seats booked successfully!');
                } else {
                    alert('Failed to book seats.');
                }
            })
            .catch(error => {
                console.error('Error booking seats:', error);
                alert('An error occurred while booking seats.');
            });
    }
</script>
<!--<script>-->
<!--    const seatsContainer = document.getElementById('seats');-->
<!--    const selectedSeatsContainer = document.getElementById('selected-seats');-->
<!--    let selectedSeats = 0;-->
<!--    const urlParams = new URLSearchParams(window.location.search);-->
<!--    const hallId = urlParams.get('hallId');-->
<!--    const sessionId = urlParams.get('sessionId');-->
<!--    fetch(`http://localhost:8050/api/hall/${hallId}/layout`)-->
<!-- .then(response => response.json())-->
<!--    .then(data => {-->
<!--        const seats = data;-->

<!--        // Отображение мест-->
<!--        seats.forEach((row, rowIndex) => {-->
<!--            row.forEach((place, placeIndex) => {-->
<!--                const seatElement = document.createElement('div');-->
<!--                seatElement.classList.add('seat');-->
<!--                seatElement.textContent = `${rowIndex + 1}-${placeIndex + 1}`; // Получаем номер строки и места-->
<!--                if (place.is_booked) { // Проверяем, забронировано ли место-->
<!--                    seatElement.classList.add('booked');-->
<!--                    seatElement.classList.remove('available');-->
<!--                } else {-->
<!--                    seatElement.classList.add('available');-->
<!--                    seatElement.addEventListener('click', () => {-->
<!--                        // При клике на место, добавляем или удаляем класс 'selected'-->
<!--                        seatElement.classList.toggle('selected');-->
<!--                        updateSelectedSeatsCount(); // Вызываем функцию для обновления счетчика выбранных мест-->
<!--                    });-->
<!--                }-->
<!--                seatsContainer.appendChild(seatElement);-->
<!--            });-->
<!--        });-->
<!--        // Функция для обновления счетчика выбранных мест-->
<!--        function updateSelectedSeatsCount() {-->
<!--            const selectedSeatsList = document.querySelectorAll('.seat.selected');-->
<!--            selectedSeats = selectedSeatsList.length;-->
<!--            selectedSeatsContainer.textContent = selectedSeats;-->
<!--        }-->
<!--    })-->
<!--    .catch(error => console.error('Error fetching seats:', error));-->

<!--    // Получаем ссылку на кнопку-->
<!--const bookButton = document.getElementById('book-button');-->

<!--// Добавляем обработчик события на клик по кнопке-->
<!--bookButton.addEventListener('click', bookSeats);-->

<!--function bookSeats() {-->
<!--const emailInput = document.getElementById('client-email');-->
<!--const clientEmail = emailInput.value;-->

<!--if (!clientEmail) {-->
<!--    alert('Please enter your email.');-->
<!--    return;-->
<!--}-->

<!--&lt;!&ndash;const selectedSeatsList = document.querySelectorAll('.seat.selected');&ndash;&gt;-->
<!--&lt;!&ndash;const seatsArray = Array.from(selectedSeatsList).map(seat => {&ndash;&gt;-->
<!--&lt;!&ndash;    const row = parseInt(seat.textContent.substring(0, seat.textContent.length - 1)); // Предполагается, что первый символ - это номер ряда&ndash;&gt;-->
<!--&lt;!&ndash;    const place = seat.textContent.charCodeAt(seat.textContent.length - 1) - 64; // Второй символ - буква, преобразуем в номер&ndash;&gt;-->
<!--&lt;!&ndash;    return { place: place, row: row, type: "ADULTS" }; // Предположим, что тип всегда ADULTS&ndash;&gt;-->
<!--&lt;!&ndash;});&ndash;&gt;-->
<!--    const selectedSeatsList = document.querySelectorAll('.seat.selected');-->
<!--    const seatsArray = Array.from(selectedSeatsList).map(seat => {-->
<!--        const seatNumber = seat.textContent.split('-');-->
<!--        const row = parseInt(seatNumber[0]); // Номер ряда-->
<!--        const place = parseInt(seatNumber[1]); // Номер места-->
<!--        return { row: row, place: place,type: "ADULTS"  };-->
<!--    });-->

<!--const requestData = {-->
<!--    clientEmail: clientEmail,-->
<!--    idSession: sessionId,-->
<!--    seats: seatsArray-->
<!--};-->

<!--const url = 'http://localhost:8050/api/orderSession/create?language=EN';-->
<!--fetch(url, {-->
<!--        method: 'POST',-->
<!--        headers: {-->
<!--            'Content-Type': 'application/json'-->
<!--        },-->
<!--        body: JSON.stringify(requestData)-->
<!--    })-->
<!--    .then(response => {-->
<!--        if (response.ok) {-->
<!--            // Успешное бронирование мест-->
<!--            selectedSeatsList.forEach(seat => {-->
<!--                seat.classList.remove('available');-->
<!--                seat.classList.add('booked');-->
<!--                seat.classList.remove('selected');-->
<!--            });-->
<!--            updateSelectedSeatsCount(); // Обновляем счетчик выбранных мест-->
<!--            alert('Seats booked successfully!');-->
<!--        } else {-->
<!--            alert('Failed to book seats.');-->
<!--        }-->
<!--    })-->
<!--    .catch(error => {-->
<!--        console.error('Error booking seats:', error);-->
<!--        alert('An error occurred while booking seats.');-->
<!--    });-->
<!--&lt;!&ndash;const xhr = new XMLHttpRequest();&ndash;&gt;-->
<!--&lt;!&ndash;xhr.open('POST', url);&ndash;&gt;-->
<!--&lt;!&ndash;xhr.setRequestHeader('Content-Type', 'application/json');&ndash;&gt;-->
<!--&lt;!&ndash;xhr.onload = function() {&ndash;&gt;-->
<!--&lt;!&ndash;    if (xhr.status === 201) {&ndash;&gt;-->
<!--&lt;!&ndash;        const response = JSON.parse(xhr.responseText);&ndash;&gt;-->
<!--&lt;!&ndash;        alert(`Seats booked successfully!\nFilm: ${response.filmName}\nCinema: ${response.cinemaName}\nHall: ${response.hallName}\nTotal Price: ${response.totalPrice}\nEmail: ${response.clientEmail}`);&ndash;&gt;-->
<!--&lt;!&ndash;    } else {&ndash;&gt;-->
<!--&lt;!&ndash;        alert('Failed to book seats.');&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->
<!--&lt;!&ndash;};&ndash;&gt;-->
<!--&lt;!&ndash;xhr.send(JSON.stringify(requestData));&ndash;&gt;-->
<!--}-->
<!--</script>-->
</body>
</html>
